{{#> layout}}
  <div class="flex text-gray-200">
    <div class="px-4 py-8 flex-none">
      <nav>
        <ul class="lufo-navbar-items">
          <li>
            <a href="#siberian-digital-art-festival-2019">Siberian Digital Art Festival</a>
          </li>
          <li>
            <a href="#game-design-document-first-release">Game Design Document first release</a>
          </li>
        </ul>
      </nav>
    </div>

    <main class="px-8 pt-3 pb-8">
      {{{[md] "../../blog/2019-11-16-siberian-digital-art-festival.md"}}}
      {{{[md] "../../blog/2019-11-10-gdg-release.md"}}}
    </main>
  </div>
{{/layout}}
