{{#> layout}}
  <div class="flex text-gray-200">
    <div class="px-4 py-8 flex-none">
      <nav>
        <ul class="lufo-navbar-items">
          <li>
            <a href="#introduction">Introduction</a>
          </li>
          <li>
            <a href="#motivation">Motivation</a>
            <ul>
              <li><a href="#problem-overview">Problem Overview</a></li>
              <li><a href="#solution-overview">Solution Overview</a></li>
            </ul>
          </li>
          <li>
            <a href="#gameplay">Gameplay</a>
            <ul>
              <li><a href="#game-ai-model">Game AI Model</a></li>
              <li><a href="#agent-profile">Agent Profile</a></li>
              <li><a href="#interaction-model">Interaction Model</a></li>
              <li><a href="#social-model">Social Model</a></li>
              <li><a href="#economics-model">Economics Model</a></li>
              <li><a href="#political-model">Political Model</a></li>
              <li><a href="#simulation-and-timeline">Simulation and Timeline</a></li>
            </ul>
          </li>
          <li>
            <a href="#plot-and-setting">Plot and Setting</a>
            <ul>
              <li><a href="#backstory">Backstory</a></li>
              <li><a href="#the-island">The Island</a></li>
              <li><a href="#alexander-ziolkowski">Alexander Ziolkowski</a></li>
              <li><a href="#foundations-society">Foundation's Society</a></li>
              <li><a href="#rachel-livingstone">Rachel Livingstone</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <main class="px-8 pt-3 pb-8">
      {{{[md] "../../articles/introduction.md"}}}

      {{{[md] "../../articles/motivation/problem-overview.md"}}}
      {{{[md] "../../articles/motivation/solution-overview.md"}}}

      {{{[md] "../../articles/gameplay/gameplay-overview.md"}}}
      {{{[md] "../../articles/gameplay/game-ai-model.md"}}}
      {{{[md] "../../articles/gameplay/agent-profile.md"}}}
      {{{[md] "../../articles/gameplay/interaction-model.md"}}}
      {{{[md] "../../articles/gameplay/social-model.md"}}}
      {{{[md] "../../articles/gameplay/economics-model.md"}}}
      {{{[md] "../../articles/gameplay/political-model.md"}}}
      {{{[md] "../../articles/gameplay/simulation-and-timeline.md"}}}

      {{{[md] "../../articles/plot/plot-overview.md"}}}
      {{{[md] "../../articles/plot/backstory.md"}}}
      {{{[md] "../../articles/plot/the-island.md"}}}
      {{{[md] "../../articles/plot/alexander-ziolkowski.md"}}}
      {{{[md] "../../articles/plot/foundations-society.md"}}}
      {{{[md] "../../articles/plot/rachel-livingstone.md"}}}
    </main>
  </div>
{{/layout}}
