.reveal.convex {
  background: url(../../images/slides/space-bg.jpg) !important;

  .slides section {
    .main-title {
      font-size: 8rem;
      text-transform: none !important;
      color: #fff;
    }

    &.key-slide {
      @apply bg-lufo-body;
    }

    a {
      @apply font-bold;
    }

    table {
      @apply bg-lufo-body;

      td, th {
        @apply p-10;
      }

      &.table {
        @apply rounded-lg;

        th {
          @apply text-orange-600;
        }

        td:first-child {
          @apply text-green-600;
        }

        td, th {
          @apply px-8 py-4 border-0;

          &:first-child {
            min-width: 18rem;
          }
        }
      }
    }

    .slide-title {
      @apply text-green-500 text-6xl mb-16;
    }

    .slide-subtitle {
      @apply text-4xl;
    }

    img {
      @apply bg-transparent border-0 shadow-none inline;
    }

    .logo {
      @apply text-center;

      img {
        @apply m-0 max-w-lg;
      }
    }

    .image-set-1 img {
      @apply mx-4;
      max-height: 25rem;
    }

    .image-set-2 img {
      @apply mx-4;
      max-height: 15rem;
    }

    .illustration img {
      @apply max-w-lg;
      max-height: 40rem;
    }

    .illustration-big img {
      @apply max-w-4xl;
      max-height: 60rem;
    }

    .illustration-max img {
      min-width: 60rem;
    }
  }
  
  .slide-number {
    @apply text-4xl;
    color: rgb(231, 173, 82);
    left: 8px;
    right: auto;
  }
}
