{{#> layout}}
  <div class="flex text-gray-200">
    <div class="px-4 py-8 flex-none">
      <nav>
        <ul class="lufo-navbar-items">
          <li>
            <a href="#introduction">Introduction</a>
          </li>
          <li>
            <a href="#motivation">Motivation</a>
            <ul>
              <li><a href="#problem-overview">Problem Overview</a></li>
              <li><a href="#solution">Solution</a></li>
            </ul>
          </li>
          <li>
            <a href="#gameplay">Gameplay</a>
            <ul>
              <li><a href="#game-ai-model">Game AI Model</a></li>
              <li><a href="#agent-profile">Agent Profile</a></li>
              <li><a href="#communication-model">Communication Model</a></li>
            </ul>
          </li>
          <li>
            <a href="#plot-and-setting">Plot and Setting</a>
            <ul>
              <li><a href="#backstory">Backstory</a></li>
              <li><a href="#the-island">The Island</a></li>
              <li><a href="#alexander-ziolkowski">Alexander Ziolkowski</a></li>
              <li><a href="#foundations-society">Foundation's Society</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <main class="px-8 pt-3 pb-8">
      {{{[md] "../articles/introduction.md"}}}
      {{{[md] "../articles/motivation.md"}}}
      {{{[md] "../articles/gameplay.md"}}}
      {{{[md] "../articles/plot.md"}}}
    </main>
  </div>
{{/layout}}
