{{#> layout}}
  <div class="flex text-gray-200">
    <div class="px-4 py-8 flex-none">
      <nav>
        <ul class="lufo-navbar-items">
          <li>
            <a href="#introduction">Introduction</a>
          </li>
          <li>
            <a href="#plot-and-setting">Plot and Setting</a>
            <ul>
              <li><a href="#backstory">Backstory</a></li>
              <li><a href="#the-island">The Island</a></li>
              <li><a href="#alexander-ziolkowski">Alexander Ziolkowski</a></li>
              <li><a href="#foundations-society">Foundation's Society</a></li>
            </ul>
          </li>
          <li>
            <a href="#narrative-summary">Narrative Summary</a>
          </li>
        </ul>
      </nav>
    </div>

    <main class="px-8 pt-3 pb-8">
      {{{[md] "../articles/introduction.md"}}}

      {{{[md] "../articles/plot.md"}}}
      
      {{{[md] "../articles/narrative-summary.md"}}}
    </main>
  </div>
{{/layout}}
