{{#> layout}}
  <div class="flex text-gray-200">
    <div class="px-4 py-8 flex-none">
      <nav>
        <ul class="list-none font-item">
          <li class="mb-1">
            <a class="px-4 py-2 block underline" href="#intro">Introduction</a>
          </li>
          <li class="mb-1">
            <a class="px-4 py-2 block underline" href="#gameplay">Gameplay mechanics</a>
          </li>
        </ul>
      </nav>
    </div>

    <main class="px-8 pt-3 pb-8">
      <div id="intro">
        {{{[md] "../articles/test.md"}}}
      </div>
      <div id="gameplay">
        {{{[md] "../articles/test.md"}}}
      </div>
    </main>
  </div>
{{/layout}}
