{{#> layout}}
  <div class="flex text-gray-200">
    <div class="px-4 py-8 flex-none">
      <nav>
        <ul class="lufo-navbar-items">
          <li class="mb-1">
            <a class="px-4 py-2 block underline" href="#introduction">Introduction</a>
          </li>
          <li class="mb-1">
            <a class="px-4 py-2 block underline" href="#plot">Plot and Setting</a>
          </li>
          <li class="mb-1">
            <a class="px-4 py-2 block underline" href="#narrative-summary">Narrative Summary</a>
          </li>
        </ul>
      </nav>
    </div>

    <main class="px-8 pt-3 pb-8">
      <div id="introduction">
        {{{[md] "../articles/introduction.md"}}}
      </div>
      <div id="plot">
        {{{[md] "../articles/plot.md"}}}
      </div>
      <div id="narrative-summary">
        {{{[md] "../articles/narrative-summary.md"}}}
      </div>
    </main>
  </div>
{{/layout}}
