<div class="border-b border-gray-800 p-6">
  <h1 class="text-lufo-title text-4xl font-header text-center">Lunar Foundation</h1>
  <h4 class="text-gray-600 mt-2 text-sm font-paragraph text-center">Game Design Document</h4>
</div>
