<div class="lufo-page-header">
  <h1>Lunar Foundation</h1>
  <ul>
    {{#each menu}}
      <li {{#if this.active}}class="active"{{/if}}>
        <a href="{{this.url}}">{{this.title}}</a>
      </li>
    {{/each}}
  </ul>
</div>
