{{#> empty}}
  <body class="bg-lufo-body font-regular">
    {{> header}}
    <div class="container mx-auto bg-gray-900 mt-6 mb-6">
      {{> @partial-block }}
    </div>
    {{> footer}}
  </body>
{{/empty}}
