{{#> empty}}
  <body>
      <div class="reveal">
        <div class="slides">
          <section>
            <h4>Some Slide</h4>
            <div>
              fghfgh
            </div>
          </section>
        </div>
      </div>
  </body>
{{/empty}}
